# Editors temp files
*.swp
*~

# SCRAM business
__init__.py
*.pyc

# CRAB3 stuff
crab_*
crabConfig_*

#config files
*.dat

# ROOT-related files
*.root
*.C
*_cc.d
*_cc.so
*_C.d
*_C.so
*\#*
.\#*
AutoDict_*

# Other temp files
*.txt
*.log
*.png
*.pdf
*.out
*.tmp
*.pcm
*.o
*.swo
*.swm
*.swn
*Test*
*TEST*

# Output dirs in signal and bkg
Signal/outdir_*
Signal/card*
Trees2WS/TEST*
Trees2WS/outdir*
Plots/SplusBModel*
Trees2WS/Merge*
Plots/pkl*
Trees2WS/card*
Trees2WS/scrip*


Background/outdir_*
Background/cards*
Background/bin*
Background/lib*
Background/plot*
fderiggi*
.__*
Combine/runFit*
Combine/runImpact*
Combine/t2w_jobs*
Combine/Models*
Combine/plot*
Combine/validation*
Combine/Checks/Bias_nominal/*/
Combine/Checks/Bias_nominal
Combine/Checks/GOF/*.root
Combine/Checks/GOF/*.txt
Combine/Checks/GOF/Nominal*
Combine/Checks/GOF/*output*

Combine/Checks/Wilk
Combine/*/
Datacard/yields*
Datacard/cards*
Datacard/Models*
Merge


Combine/Checks/Bias_nominal/*/
